/****************************************************************************
* Filename: videochat/public/css/video-chat.css
* Description: The CSS Style sheet for the Coffee Table
* Author: Yash Sharma
* Date Created: 02 Sept, 2013
* Change Log:
* Version      Author              Date of Modification        Comment
* 5.0          Yash Sharma         02 Sept, 2013                File Created
* **************************************************************************** 

/**Reset**/
.coffee-table div,.coffee-table img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
/**Reset**/

/**Text**/
.coffee-table {
	font: 100% Arial, "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", 'Helvetica', Arial, 'Liberation Sans', FreeSans,
		sans-serif
}

.coffee-table a:focus {
	outline: 1px dotted
}
/**Text**/

/**Standard Includes**/
.coffee-table * {
	margin: 0;
	padding: 0;
}

Â 
.coffee-table .helpusertype,.coffee-table input[type=submit],.coffee-table a
	{
	cursor: pointer;
}

.coffee-table .clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
/**Standard Includes**/
.coffee-table .hide {
	display: none;
}

.coffee-table .coffee-table-hide {
	display: none;
}

.coffee-table input[type=button] {
	cursor: pointer;
}

.coffee-table .resetList {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.selectedTextBox {
	color: black;
}

.errorBox {
	border: 1px solid red;
}

.boxy-shadow {
	box-shadow: -4px 4px 6px 0 #909090;
	-moz-box-shadow: -4px 4px 6px 0px #909090;
	-webkit-box-shadow: -4px 4px 6px 0px #909090;
}

/**************** CSS CODE OF FULL SCREEN MEETING ROOM STARTS ***************/
.coffee-table .meeting-room {
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: #1d1d1d;
	position: absolute;
	z-index: 10000;
}

.coffee-table .meeting-room .main-participant-video-container {
	margin: 0 auto;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 70%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 10000;
	background: #222222;
}

.coffee-table .meeting-room .main-participant-video-container .main-participant-video
	{ //
	height: auto; //
	width: 1024px;
	min-width: 110%;
	min-height: 100%;
	position: absolute;
	right: 0px;
	left: 0px;
	margin: 0 auto;
	background: transparent;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.coffee-table .meeting-room .top-navigation-menu-container {
	background: url(images/overlay-black.png) repeat;
	width: 100%;
	height: 50px;
	position: absolute;
	z-index: 10010;
}

.coffee-table .meeting-room .customer-logo-1 {
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	background-position: -180px -142px;
	height: 30px;
	width: 49px;
	float: left;
	margin: 15px 5px 5px 15px;
}

.coffee-table .meeting-room .meeting-room-title {
	color: #FFF;
	font-size: 16px;
	margin: 20px 0px 0px 8px;
	float: left;
}

.coffee-table .meeting-room .customer-logo-2 {
	background: url("images/video-chat-spirits.png") no-repeat scroll -281px
		-210px transparent;
	height: 50px;
	width: 116px;
	float: right;
	margin-right: 45px;
}

.coffee-table .meeting-room .top-navigation-menu-buttons {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}

.coffee-table .meeting-room .minimize-window,.coffee-table .meeting-room .meeting-details-button,.coffee-table .meeting-room .full-screen,.coffee-table .meeting-room .close-button
	{
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	height: 20px;
	width: 20px;
	float: left;
	cursor: pointer;
	margin-left: 10px;
}

.coffee-table .meeting-room .minimize-window {
	background-position: -290px -168px;
}

.coffee-table .meeting-room .minimize-window:hover {
	background-position: -290px -146px;
}

.coffee-table .meeting-room .full-screen {
	background-position: -263px -168px;
}

.coffee-table .meeting-room .full-screen:hover {
	background-position: -263px -146px;
}

.coffee-table .meeting-room .meeting-details-button {
	background-position: -348px -167px;
}

.coffee-table .meeting-room .meeting-details-button:hover {
	background-position: -348px -134px;
}

.coffee-table .meeting-room .close-button {
	background-position: -240px -168px;
}

.coffee-table .meeting-room .close-button:hover {
	background-position: -240px -146px;
}

.coffee-table .meeting-room .meeting-details {
	position: absolute;
	background: white;
	width: 280px;
	top: 10px;
	left: 10px;
	font-size: 12px;
	border: 1px solid #9f9f9f;
	line-height: 20px;
	z-index: 10004;
}

.coffee-table .meeting-room .meeting-details ul {
	padding: 10px 10px 5px 10px;
}

.coffee-table .meeting-room .meeting-details .meeting-details-note {
	padding: 0px 10px 5px 10px;
	color: #9f9f9f;
	font-size: 11px;
}

.coffee-table .meeting-room .main-participant-message {
	background: url(images/overlay-blue.png) repeat;
	font: 16px Arial;
	color: #FFF;
	padding: 10px 5px 10px 5px;
	text-align: center;
	left: 0;
	right: 0;
	max-width: 380px;
	border-radius: 2px;
	z-index: 10010;
	margin: auto;
	top: 60px;
	position: absolute;
}

.coffee-table .meeting-room .main-participant-video-container .main-participant-name
	{
	background: url(images/overlay-black.png) repeat transparent;
	color: white;
	padding: 8px 16px 8px 16px;
	overflow: hidden;
	position: absolute;
	bottom: 220px;
	position: absolute;
	font-size: 16px;
	z-index: 10004;
}

.coffee-table .meeting-room .main-participant-video-container .main-participant-remove-button-container
	{
	background: url(images/overlay-lighter-black.png) repeat transparent;
	height: 30px;
	width: 100%;
	position: absolute;
	top: 50px;
	z-index: 10004;
}

.coffee-table .meeting-room .main-participant-video-container .main-participant-remove-button
	{
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	height: 14px;
	width: 14px;
	cursor: pointer;
	background-position: -179px -77px;
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

.coffee-table .meeting-room .main-participant-video-container .main-participant-remove-button:hover
	{
	background-position: -179px -99px;
}

/*** Participant Video List Starts **/
.coffee-table .meeting-room .participant-list {
	bottom: 50px;
	right: 0px;
	margin-right: 15px;
	position: absolute;
	z-index: 10003;
}

.coffee-table .meeting-room .user-video-container,.coffee-table .meeting-room .participant-video-container
	{
	float: right;
	background-color: #474747;
	margin: 5px;
	width: 155px;
	height: 116px;
	border: 1px solid black;
	overflow: hidden;
	font-size: 12px;
	cursor: pointer;
}

.coffee-table .meeting-room .participant-video-container:hover {
	border: 1px solid grey;
}

.coffee-table .meeting-room .participant-list .user-video,.coffee-table .meeting-room .participant-list .participant-video
	{
	max-width: 187px;
	min-width: 110%;
	min-height: 100%;
	word-break: break-all;
	position: relative;
	top: 0px;
	float: left;
	z-index: 10002;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.coffee-table .meeting-room .participant-video-selected {
	border: 1px solid red;
}

.coffee-table .meeting-room .participant-list .participant-name {
	background: url(images/overlay-black.png) repeat transparent;
	color: white;
	padding: 3px 3px 3px 3px;
	overflow: hidden;
	max-width: 170px;
	position: absolute;
	bottom: 5px;
	width: 146px;
	margin: 2px;
	font-size: 12px;
	z-index: 10004;
}

.coffee-table .meeting-room .participant-video-container .participant-message
	{
	background: url(images/overlay-blue.png) repeat;
	font: 12px Arial;
	color: #FFF;
	top: 14px;
	width: 125px;
	padding: 3px 0px 3px 0px;
	text-align: center;
	border-radius: 2px;
	position: absolute;
	margin-left: 17px;
	z-index: 10004;
}

.coffee-table .meeting-room .participant-video-container .participant-remove-button-container
	{
	background: url(images/overlay-lighter-black.png) repeat transparent;
	height: 16px;
	width: 155px;
	position: absolute;
	top: 5px;
	z-index: 10004;
}

.coffee-table .meeting-room .participant-video-container .participant-remove-button
	{
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	height: 14px;
	width: 14px;
	cursor: pointer;
	margin-left: 139px;
	background-position: -138px -124px;
}

.coffee-table .meeting-room .participant-video-container .participant-remove-button:hover
	{
	background-position: -138px -152px;
}

/*** Participant Video List Ends **/
.coffee-table .meeting-room .bottom-navigation-menu-buttons {
	
}

.coffee-table .meeting-room .bottom-navigation-menu-buttons {
	background: url(images/overlay-white.png) repeat;
	padding-top: 8px;
	padding-bottom: 10px;
	bottom: 0px;
	left: 0;
	right: 0;
	width: 100%;
	position: absolute;
	text-align: center;
	z-index: 10010;
}

.coffee-table .meeting-room .bottom-navigation-menu-buttons-center {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.coffee-table .meeting-room .call-button,.coffee-table .meeting-room .video-mute-button,.coffee-table .meeting-room .low-bandwidth-button,.coffee-table .meeting-room .audio-mute-button,.coffee-table .meeting-room .end-button
	{
	cursor: pointer;
	height: 25px;
	border: none;
	color: #000000;
	float: left;
	margin-left: 35px;
}

.coffee-table .meeting-room .audio-mute-button {
	margin-left: 0px;
}

.coffee-table .meeting-room .call-button .icon-enabled,.coffee-table .meeting-room .call-button .icon-disabled,.coffee-table .meeting-room .video-mute-button .icon-enabled,.coffee-table .meeting-room .video-mute-button .icon-activated,.coffee-table .meeting-room .video-mute-button .icon-disabled,.coffee-table .meeting-room .low-bandwidth-button .icon-enabled,.coffee-table .meeting-room .low-bandwidth-button .icon-activated,.coffee-table .meeting-room .low-bandwidth-button .icon-disabled,.coffee-table .meeting-room .audio-mute-button .icon-disabled,.coffee-table .meeting-room .audio-mute-button .icon-activated,.coffee-table .meeting-room .audio-mute-button .icon-enabled,.coffee-table .meeting-room .end-button .icon-disabled,.coffee-table .meeting-room .end-button .icon-enabled
	{
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	float: left;
	height: 25px;
	width: 32px;
	margin: 5px 1px 0px 0px;
}

.coffee-table .meeting-room .audio-mute-button .icon-enabled {
	background-position: -101px -338px;
}

.coffee-table .meeting-room .audio-mute-button:hover .audio-mute-button .icon-enabled
	{
	background-position: -101px -301px;
}

.coffee-table .meeting-room .audio-mute-button .icon-activated {
	background-position: -101px -263px;
}

.coffee-table .meeting-room .audio-mute-button:hover .audio-mute-button .icon-activated
	{
	background-position: -101px -227px;
}

.coffee-table .meeting-room .audio-mute-button .icon-disabled {
	background-position: -101px -374px;
}

.coffee-table .meeting-room .low-bandwidth-button .icon-enabled {
	background-position: -181px -340px;
	width: 18px;
}

.coffee-table .meeting-room .low-bandwidth-button:hover .low-bandwidth-button .icon-enabled
	{
	background-position: -181px -302px;
	width: 18px;
}

.coffee-table .meeting-room .low-bandwidth-button .icon-activated {
	background-position: -181px -263px;
	width: 18px;
}

.coffee-table .meeting-room .low-bandwidth-button:hover .low-bandwidth-button .icon-activated
	{
	background-position: -181px -227px;
	width: 18px;
}

.coffee-table .meeting-room .low-bandwidth-button .icon-disabled {
	background-position: -181px -373px;
	width: 18px;
}

.coffee-table .meeting-room .video-mute-button .icon-enabled {
	background-position: -141px -340px;
}

.coffee-table .meeting-room .video-mute-button:hover .video-mute-button .icon-enabled
	{
	background-position: -141px -302px;
}

.coffee-table .meeting-room .video-mute-button .icon-activated {
	background-position: -141px -264px;
}

.coffee-table .meeting-room .video-mute-button:hover .video-mute-button .icon-activated
	{
	background-position: -141px -228px;
}

.coffee-table .meeting-room .video-mute-button .icon-disabled {
	background-position: -141px -374px;
}

.coffee-table .meeting-room .end-button .icon-disabled {
	background-position: -245px -371px;
	width: 22px;
}

.coffee-table .meeting-room .end-button .icon-enabled {
	background-position: -243px -261px;
	width: 22px;
}

.coffee-table .meeting-room .end-button .icon-enabled:hover {
	background-position: -243px -224px;
	width: 22px;
}

.coffee-table .meeting-room .call-button .icon-enabled {
	background-position: -219px -261px;
	width: 17px;
}

.coffee-table .meeting-room .call-button .icon-enabled:hover {
	background-position: -219px -223px;
	width: 17px;
}

.coffee-table .meeting-room .call-button .icon-disabled {
	background-position: -219px -373px;
	width: 17px;
}

.coffee-table .meeting-room .button-text {
	float: left;
	margin: 6px 0px 0px 5px;
	font: 16px Arial;
}

/***********MORE DROP DOWN MENU***************/
.coffee-table .meeting-room .more-choice-menu-activated,.coffee-table .meeting-room .more-choice-menu
	{
	position: absolute;
	height: 45px;
	width: 50px;
	right: 0px;
	bottom: 0px;
	cursor: pointer;
	padding-left: 15px;
}

.coffee-table .meeting-room .more-choice-menu .icon-enabled,.coffee-table .meeting-room .more-choice-menu .icon-disabled,.coffee-table .meeting-room .more-choice-menu .icon-activated
	{
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	background-position: -40px -331px;
	height: 32px;
	width: 50px;
}

.coffee-table .meeting-room .more-choice-menu-activated {
	background: url(images/overlay-white.png) repeat;
}

.coffee-table .meeting-room .more-choice-menu:hover .icon-enabled,.coffee-table .meeting-room .more-choice-menu .icon-activated
	{
	background-position: -40px -293px;
}

.coffee-table .meeting-room .more-choice-menu .icon-disabled {
	background-position: -40px -362px;
}

.coffee-table .meeting-room .more-choice-menu .more-choice-menu-choices
	{
	background: url(images/overlay-white.png) repeat;
	position: absolute;
	right: 0px;
	bottom: 45px;
	cursor: pointer;
	width: 180px;
}

.coffee-table .meeting-room .more-choice-menu .more-choice-menu-choices li
	{
	font-size: 16px;
	background: url(images/overlay-white.png) repeat;
	padding: 10px 0px 10px 20px;
	border-top: 1px solid #aeaeae;
}

.coffee-table .meeting-room .more-choice-menu .more-choice-menu-choices li:hover
	{
	background-image: none;
	background-color: #fff;
}

/***********MORE DROP DOWN MENU***************/

/**************** CSS CODE OF FULL SCREEN MEETING ROOM ENDS ***************/

/**************** CSS CODE OF WINDOWED INSTANT CALL STARTS ***************/
.coffee-table .instant-call-window {
	background: url(images/profile-image.png) no-repeat #3b3e43 center;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 600px;
	height: 430px;
	position: absolute;
	z-index: 10000;
	left: 250px;
	overflow: hidden;
}

.coffee-table .instant-call-window .top-navigation-menu-container {
	float: left;
	background: url(images/overlay-black.png) repeat;
	color: #333;
	height: 30px;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	position: absolute;
	z-index: 10010;
}

.coffee-table .instant-call-window .customer-logo-1 {
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	background-position: -180px -121px;
	height: 18px;
	width: 30px;
	float: left;
	margin: 5px 5px 5px 15px;
}

.coffee-table .instant-call-window .meeting-room-title {
	margin: 5px 0px 0px 5px;
	font: 16px Arial;
	color: #FFF;
	float: left;
}

.coffee-table .instant-call-window .minimize-window,.coffee-table .instant-call-window .full-screen,.coffee-table .instant-call-window .close-button
	{
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	height: 14px;
	width: 14px;
	float: left;
	cursor: pointer;
	margin-left: 6px;
}

.coffee-table .instant-call-window .minimize-window {
	background-position: -140px -78px;
}

.coffee-table .instant-call-window .minimize-window:hover {
	background-position: -140px -100px;
}

.coffee-table  .ct-doc-icon-maximize {
	background-position: -264px -79px;
}

.coffee-table .instant-call-window .full-screen {
	background-position: -216px -78px;
}

.coffee-table .instant-call-window .full-screen:hover {
	background-position: -216px -100px;
}

.coffee-table  .ct-doc-icon-close {
	background-position: -243px -79px;
}

.coffee-table .instant-call-window .close-button {
	background-position: -179px -77px;
}

.coffee-table .instant-call-window .close-button:hover {
	background-position: -179px -99px;
}

.coffee-table .instant-call-window .top-navigation-menu-buttons {
	float: right;
	margin-top: 9px;
	margin-right: 15px;
}

.coffee-table .instant-call-window .customer-logo-2 {
	display: none;
}

.coffee-table .instant-call-window .main-participant-message {
	position: absolute;
	background: url(images/overlay-blue.png) #336997 repeat;
	font: 12px Arial;
	color: #FFF;
	padding: 5px 5px 5px 5px;
	text-align: center;
	border-radius: 2px;
	width: 290px;
	float: left;
	top: 55px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10001;
}

.coffee-table .instant-call-window .main-participant-video-container {
	width: 600px;
	height: 460px;
	overflow: hidden;
}

.coffee-table .instant-call-window .main-participant-video-container .main-participant-video
	{
	max-width: 620px;
	/*height: auto;*/
	min-width: 110%;
	min-height: 100%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.coffee-table .instant-call-window .main-participant-video-container .main-participant-name
	{
	background: url(images/overlay-black.png) repeat transparent;
	color: white;
	padding: 5px 12px 5px 10px;
	overflow: hidden;
	position: absolute;
	bottom: 170px;
	position: absolute;
	font-size: 14px;
	z-index: 10004;
}

.coffee-table .instant-call-window .main-participant-video-container .main-participant-remove-button-container
	{
	background: url(images/overlay-lighter-black.png) repeat transparent;
	height: 25px;
	width: 100%;
	position: absolute;
	top: 30px;
	z-index: 10004
}

.coffee-table .instant-call-window  .main-participant-video-container .main-participant-remove-button
	{
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	height: 14px;
	width: 14px;
	cursor: pointer;
	background-position: -179px -77px;
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

.coffee-table .instant-call-window .main-participant-video-container .main-participant-remove-button:hover
	{
	background-position: -179px -99px;
}

/*** Participant Video List Starts **/
.coffee-table .instant-call-window .participant-list {
	bottom: 50px;
	right: 0px;
	margin-right: 15px;
	position: absolute;
	z-index: 10001;
}

.coffee-table .instant-call-window .user-video-container,.coffee-table .instant-call-window .participant-video-container
	{
	float: right;
	margin: 3px;
	background: #474747;
	width: 125px;
	height: 92px;
	border: 1px solid black;
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
}

.coffee-table .instant-call-window .participant-video-container .participant-message
	{
	background: url(images/overlay-blue.png) repeat;
	font: 11px Arial;
	color: #FFF;
	top: 10px;
	width: 90px;
	padding: 3px 0px 3px 0px;
	text-align: center;
	border-radius: 2px;
	position: absolute;
	margin-left: 15px;
	z-index: 10004;
}

.coffee-table .instant-call-window .participant-video-container:hover {
	border: 1px solid grey;
}

.coffee-table .instant-call-window .participant-list .user-video,.coffee-table .instant-call-window .participant-list .participant-video
	{
	max-width: 130px;
	/*height: auto;*/
	word-break: break-all;
	position: relative;
	top: 0px;
	float: left;
	min-width: 110%;
	min-height: 100%;
	z-index: 10002;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.coffee-table .instant-call-window .participant-video-selected {
	border: 1px solid red;
}

.coffee-table .instant-call-window .participant-list .participant-name {
	background: url(images/overlay-black.png) repeat transparent;
	color: white;
	padding: 3px 3px 3px 3px;
	overflow: hidden;
	position: absolute;
	bottom: 5px;
	width: 115px;
	margin: 2px;
	font-size: 12px;
	z-index: 10004;
}

.coffee-table .instant-call-window .participant-video-container .participant-remove-button-container
	{
	background: url(images/overlay-lighter-black.png) repeat transparent;
	height: 15px;
	width: 125px;
	position: absolute;
	top: 5px;
	z-index: 10004;
}

.coffee-table .instant-call-window .participant-video-container .participant-remove-button
	{
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	height: 14px;
	width: 14px;
	cursor: pointer;
	margin-left: 108px;
	background-position: -138px -124px;
}

.coffee-table .instant-call-window .participant-video-container .participant-remove-button:hover
	{
	background-position: -138px -152px;
}

/*** Participant Video List Ends **/
.coffee-table .instant-call-window .bottom-navigation-menu-buttons {
	background: url(images/overlay-white.png) repeat;
	padding-top: 5px;
	padding-bottom: 5px;
	bottom: 0px;
	left: 0;
	right: 0;
	width: 100%;
	position: absolute;
	z-index: 10010;
	text-align: center;
}

.coffee-table .instant-call-window .bottom-navigation-menu-buttons-center
	{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.coffee-table .instant-call-window .call-button,.coffee-table .instant-call-window .video-mute-button,.coffee-table .instant-call-window .low-bandwidth-button,.coffee-table .instant-call-window .audio-mute-button,.coffee-table .instant-call-window .end-button
	{
	cursor: pointer;
	height: 25px;
	border: none;
	color: #000000;
	float: left;
	margin-right: 25px;
}

.coffee-table .instant-call-window .end-button {
	margin-left: 0px;
}

.coffee-table .instant-call-window .call-button .icon-enabled,.coffee-table .instant-call-window .call-button .icon-disabled,.coffee-table .instant-call-window .video-mute-button .icon-enabled,.coffee-table .instant-call-window .video-mute-button .icon-activated,.coffee-table .instant-call-window .video-mute-button .icon-disabled,.coffee-table .instant-call-window .low-bandwidth-button .icon-enabled,.coffee-table .instant-call-window .low-bandwidth-button .icon-activated,.coffee-table .instant-call-window .low-bandwidth-button .icon-disabled,.coffee-table .instant-call-window .audio-mute-button .icon-disabled,.coffee-table .instant-call-window .audio-mute-button .icon-activated,.coffee-table .instant-call-window .audio-mute-button .icon-enabled,.coffee-table .instant-call-window .end-button .icon-disabled,.coffee-table .instant-call-window .end-button .icon-enabled
	{
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	float: left;
	height: 22px;
	width: 22px;
	margin: 2px 1px 0px 0px;
}

.coffee-table .instant-call-window .audio-mute-button .icon-enabled {
	background-position: -101px 0px;
}

.coffee-table .instant-call-window .audio-mute-button:hover .audio-mute-button .icon-enabled
	{
	background-position: -101px -22px;
}

.coffee-table .instant-call-window .audio-mute-button .icon-activated {
	background-position: -74px -21px;
}

.coffee-table .instant-call-window .audio-mute-button:hover .audio-mute-button .icon-activated
	{
	background-position: -74px 0px;
}

.coffee-table .instant-call-window .audio-mute-button .icon-disabled {
	background-position: -101px -41px;
}

.coffee-table .instant-call-window .low-bandwidth-button .icon-enabled {
	background-position: -103px -145px;
	width: 14px;
}

.coffee-table .instant-call-window .low-bandwidth-button:hover .low-bandwidth-button .icon-enabled
	{
	background-position: -103px -92px;
	width: 14px;
}

.coffee-table .instant-call-window .low-bandwidth-button .icon-activated
	{
	background-position: -103px -70px;
	width: 14px;
}

.coffee-table .instant-call-window .low-bandwidth-button:hover .low-bandwidth-button .icon-activated
	{
	background-position: -103px -118px;
	width: 14px;
}

.coffee-table .instant-call-window .low-bandwidth-button .icon-disabled
	{
	background-position: -103px -167px;
	width: 14px;
}

.coffee-table .instant-call-window .video-mute-button .icon-enabled {
	background-position: -140px 1px;
	width: 24px;
}

.coffee-table .instant-call-window .video-mute-button:hover .video-mute-button .icon-enabled
	{
	background-position: -141px -302px;
}

.coffee-table .instant-call-window .video-mute-button .icon-activated {
	background-position: -243px -21px;
	width: 24px;
}

.coffee-table .instant-call-window .video-mute-button:hover .video-mute-button .icon-activated
	{
	background-position: -243px 0px;
}

.coffee-table .instant-call-window .video-mute-button .icon-disabled {
	background-position: -140px -40px;
	width: 24px;
}

.coffee-table .instant-call-window .end-button .icon-disabled {
	background-position: -181px -41px;
	width: 24px;
}

.coffee-table .instant-call-window .end-button .icon-enabled {
	background-position: -181px 1px;
	width: 24px;
}

.coffee-table .instant-call-window .end-button .icon-enabled:hover {
	background-position: -181px 1px;
	width: 24px;
}

.coffee-table .instant-call-window .call-button .icon-enabled {
	background-position: -220px 0px;
	width: 12px;
}

.coffee-table .instant-call-window .call-button .icon-enabled:hover {
	background-position: -220px -21px;
	width: 12px;
}

.coffee-table .instant-call-window .call-button .icon-disabled {
	background-position: -220px -41px;
	width: 12px;
}

.coffee-table .instant-call-window .button-text {
	float: left;
	margin: 8px 0px 0px 3px;
	font: 12px Arial;
}
/***********MORE DROP DOWN MENU***************/
.coffee-table .instant-call-window .more-choice-menu-activated,.coffee-table .instant-call-window .more-choice-menu
	{
	position: absolute;
	height: 40px;
	width: 40px;
	right: 0px;
	bottom: 0px;
	cursor: pointer;
	padding-left: 15px;
}

.coffee-table .instant-call-window .more-choice-menu .icon-enabled,.coffee-table .instant-call-window .more-choice-menu .icon-disabled,.coffee-table .instant-call-window .more-choice-menu .icon-activated
	{
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	background-position: -347px -22px;
	height: 20px;
	width: 40px;
	margin-top: 6px;
}

.coffee-table .instant-call-window .more-choice-menu-activated {
	background: url(images/overlay-white.png) repeat;
}

.coffee-table .instant-call-window .more-choice-menu:hover .icon-enabled,.coffee-table .instant-call-window .more-choice-menu .icon-activated
	{
	background-position: -347px 0px;
}

.coffee-table .instant-call-window .more-choice-menu .icon-disabled {
	background-position: -347px -41px;
}

.coffee-table .instant-call-window .more-choice-menu .more-choice-menu-choices
	{
	background: url(images/overlay-white.png) repeat;
	position: absolute;
	right: 0px;
	bottom: 40px;
	cursor: pointer;
	width: 135px;
}

.coffee-table .instant-call-window .more-choice-menu .more-choice-menu-choices li
	{
	font-size: 12px;
	background: url(images/overlay-white.png) repeat;
	padding: 5px 0px 5px 10px;
	border-top: 1px solid #aeaeae;
}

.coffee-table .instant-call-window .more-choice-menu .more-choice-menu-choices li:hover
	{
	background-image: none;
	background-color: #fff;
}

/***********MORE DROP DOWN MENU***************/

/**************** CSS CODE OF WINDOWED INSTANT CALL ENDS ***************/

/**************** CSS CODE OF DOCK Starts ***************/
.coffee-table .ct-doc {
	border: 1px solid 6b6b6b;
	background: #1a1a1a;
	height: 165px;
	width: 33px;
	position: fixed;
	top: 10%;
	bottom: 45%;
	right: 0px;
	z-index: 10000;
}

.coffee-table .ct-doc-text-image {
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	background-position: -284px 0px;
	height: 120px;
	width: 33px;
}

.coffee-table .ct-doc-icon-maximize,.coffee-table .ct-doc-icon-close {
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	height: 14px;
	width: 14px;
	float: left;
	cursor: pointer;
	margin-left: 6px;
}

.coffee-table .ct-doc-icon-maximize,.coffee-table .ct-doc-icon-close {
	margin-left: 11px;
	margin-top: 5px;
	float: none;
}

.coffee-table  .ct-doc-icon-maximize {
	background-position: -264px -79px;
}

.coffee-table .ct-doc-icon-maximize:hover {
	background-position: -264px -101px;
}

.coffee-table  .ct-doc-icon-close {
	background-position: -243px -79px;
}

.coffee-table .ct-doc-icon-close:hover {
	background-position: -243px -101px;
}

/**************** CSS CODE OF DOCK Ends ***************/

/************************* MESSAGE BOX STARTS ********************************/
.coffee-table .message-box {
	position: absolute;
	width: 430px;
	left: 100px;
	z-index: 10001;
	background-color: #fff;
	border: 1px solid #9f9f9f;
	font-size: 13px;
}

.coffee-table .message-box .message-box-title-container {
	background: #1a1a1a;
	padding: 8px 15px 6px 15px;
	border-bottom: none;
}

.coffee-table .message-box .message-box-title {
	font-size: 14px;
	color: #fff;
	float: left;
}

.coffee-table .message-box .message-box-close-button {
	float: right;
	cursor: pointer;
	border: none;
	padding: 0px;
	background: url(images/video-chat-spirits.png) no-repeat transparent;
	background-position: -324px -174px;
	height: 16px;
	width: 22px;
	margin: 3px 1px 0px 0px;
}

.coffee-table .message-box  .message-box-info {
	background: #336996;
	border-radius: 2px;
	padding: 6px 12px 6px 12px;
	font-size: 13px;
	color: white;
	margin: 10px;
	margin-top: 7px;
	margin-bottom: 0px;
}

.coffee-table .message-box .message-box-close-button:hover {
	background-position: -324px -174px;
}

.coffee-table .message-box .message-box-content-container {
	
}

.coffee-table .message-box .message-box-text-container {
	
}

.coffee-table .message-box .message-box-text-table {
	margin: 0px;
	padding: 0px;
}

.coffee-table .message-box .message-box-image-container {
	margin: 0px;
	padding: 25px 5px 0px 19px;
	vertical-align: top;
}

.coffee-table .message-box .message-box-text {
	margin: 0px;
	padding: 10px 10px 10px 12px;
	line-height: 24px;
	vertical-align: top;
}

.coffee-table .message-box .message-details {
	margin: 0px 15px 0px 15px;
}

.coffee-table .message-box .message-details li {
	margin: 0;
	margin-top: 8px;;
	padding: 0;
	list-style-type: none;
}

.coffee-table .message-box .more-button {
	text-decoration: underline;
}

.coffee-table .message-box .detail-points {
	margin-top: 10px;
}

.coffee-table .message-box .solution-points {
	margin-top: 10px;
}

.coffee-table .message-box .message-box-authentication,.coffee-table .message-box .message-box-add-participants
	{
	
}

.coffee-table .message-box .drop-down-user-type {
	margin: 9px 0px 10px 15px;
	padding: 5px 0px 5px 5px;
	width: 200px;
	font-size: 13px;
	display: block;
}

.coffee-table .message-box .participant-verification-text-box,.coffee-table .message-box .participant-email-text-box
	{
	display: block;
	width: 376px;
	padding: 4px;
	margin: 9px 0px 10px 15px;
	color: #000;
	font-size: 13px;
}

.coffee-table .message-box .participant-verification-text-box {
	width: 175px;
	display: none;
}

.coffee-table .message-box .add-participant-text-box {
	display: block;
	width: 376px;
	padding: 4px;
	margin: 3px 0px 6px 15px;
	color: #000;
	font-size: 13px;
}

.coffee-table .message-box .message-box-meeting-options {
	
}

.coffee-table .message-box .message-box-add-message {
	font-size: 12px;
	margin: 9px 0px 10px 15px;
	text-decoration: none;
}

.coffee-table .message-box .message-box-meeting-message {
	display: block;
	padding: 10px;
	margin: 4px 0px 0px 15px;
	color: #000;
	font-size: 13px;
	width: 376px;
	resize: none;
}

.coffee-table .message-box .message-box-button-container {
	float: right;
	margin: 15px;
	margin-top: 10px;
	margin-bottom: 8px;
}

.coffee-table .message-box .message-box-button-1,.coffee-table .message-box .message-box-button-2
	{
	float: left;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	margin-left: 10px;
}

.coffee-table .message-box .message-box-button-1 {
	background-color: #3fb4ff;
}

.coffee-table .message-box .message-box-button-2 {
	background-color: #5b5b5b;
}

.coffee-table .message-box .message-box-button-1:hover,.coffee-table .message-box .message-box-button-disabled-1
	{
	background-color: #63c2ff;
}

.coffee-table .message-box .message-box-button-disabled-2,.coffee-table .message-box .message-box-button-2:hover
	{
	background-color: #7d7d7d;
}

.coffee-table .message-box  .message-box-button-loader {
	float: left;
	margin-right: 7px;
}

/************************* MESSAGE BOX ENDS ********************************/

/************************ ADD PARTICIPANT TO INSTANCT CALLS ***************/
.add-participant-instant-call {
	position: absolute;
	border: 1px solid #aeaeae;
	border-bottom: 0px;
	cursor: pointer;
}

.add-participant-instant-call li {
	background: white;
	font-size: 16px;
	padding: 5px 8px 5px 8px;
	border-bottom: 1px solid #aeaeae;
	color: #333;
}

.add-participant-instant-call li:hover {
	background: #e8e8e8;
}

/************************ ADD PARTICIPANT TO INSTANCT CALLS ***************/
/*Tool Tips*/
.tipsy {
	font: 100% Arial, "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", 'Helvetica', Arial, 'Liberation Sans', FreeSans,
		sans-serif;
	padding: 5px;
	font-size: 10px;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	background-repeat: no-repeat;
	background-image: url(images/tipsy.gif);
}

.tipsy-inner {
	padding: 5px 8px 4px 8px;
	background-color: black;
	color: white;
	max-width: 200px;
	text-align: center;
}

.tipsy-inner {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.tipsy-north {
	background-position: top center;
}

.tipsy-south {
	background-position: bottom center;
}

.tipsy-east {
	background-position: right center;
}

.tipsy-west {
	background-position: left center;
}
/**/