<html>
<head>
<title>avapya // web services</title>
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300'
	rel='stylesheet' type='text/css'>
<style>
html,body {
	height: 100%
}

body {
	overflow: hidden;
	color: #fff;
	background-color: #39B5EB;
	font: 18px/1.4 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 0
}

.content {
	float: left;
	margin: 100px
}

h1 {
	font-size: 72px;
	line-height: 56px;
	font-weight: 300
}

h2 {
	font-size: 30px;
	line-height: 33px;
	font-weight: 300;
	margin: 15px 0 50px
}

::selection,::-moz-selection {
	background: #fff;
	color: #000
}
</style>
</head>
<body>
	<div class="content">
		<h1>uh!</h1>
		<h2>nothing to see here</h2>
	</div>
</body>
</html>